/* pages/apply/apply.wxss */
@import "../../scss/common";

.apply {
  .search {
    margin: 20rpx -5rpx;
    position: relative;

    i.iconfont {
      position: absolute;
      left: 0;
      top: 0;
      font-size: $size-1;
    }
  }

  .filter {
    > view {
      padding-top: 20rpx;
      padding-bottom: 20rpx;
      @include divider;
      &.active {
        color: $primary;
      }
    }
  }
}
